* {
	box-sizing: border-box;
}

img, embed, object, video {
	max-width: 100%;
}

body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font: 16px/1.2em Georgia, Times, "Times New Roman", serif;
}

/* Header CSS */

header {
	overflow: auto;
}

.logo-container {
	float: left;
}

.logo {
	padding-top: 10px;
}

.header-text-container {
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	color: #585858;
	text-align: right;
	margin-right: 10px;
}

.header-title {
	font-size: 30px;
}

.header-subtitle {
	font-size: 25px;
}

hr {
	border-top: 2px solid #7d97ad;
}

/* Intro section CSS */

.intro {
	width: 100%;
	position: relative;
	background: url("../img/bgSmall-448x252.jpg") center; 
	background-size: cover;
	height: 252px;
	margin-top: 20px;
}

.intro-text-container {
	margin: auto;
    width: 50%;
}

.intro-text {
	display: inline-block;
	font-weight: bold;
	color: white;
    line-height: 1.2em;
	text-align: center;
}

/* Projects section CSS */

.projects-container-header {
	font: 22px Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	color: #585858;
	margin-left: 10px;
}

.projects-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.project-box {
	width: 100%;
	text-align: center;
	border: 1px solid #7d97ad;
	margin-bottom: 1%;
}

.project-header-container {
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.project-image {
	border-bottom: 1px solid #7d97ad;
}